.long-modal{
  margin-bottom: rem(120px);

  &__header{
    margin-bottom: rem(60px);

    font-weight: 700;
    font-size: rem(46px);
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #181D1D;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: rem(0px);

      font-size: rem(18px);
    }
  }

  &__form{
    width: calc(#{$col-part-d} * 12 - #{$col-gap-d});
    margin-top: rem(60px);

    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-part-m} * 4 - #{$col-gap-m});
      margin-top: rem(20px);
    }
    .form__checkbox{
      margin-top: 0px;
    }
  }
  .form__button{
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
    margin-top: 0px;

    @media (max-width: ($breakpoint - 1px)){
      margin-top: rem(16px);
      width: 100%;
      button{
        font-size: rem(14px);
        padding: rem(15px) 0px;
    }
    }
    button{
        width: 100%;
        padding: rem(21px) 0px;
    }
}
}