.sled{
    padding-top: rem(60px);
    height: auto;
    position: relative;

    background: #F4F4F4;
    
    @media (max-width: ($breakpoint-m - 1px) ){
        height: rem(620px);
    }
    &__title{
        font-weight: 700;
        font-size: rem(46px);
        line-height: 120%;
        text-transform: uppercase;
        color: #181D1D;

        sub{
            font-size: rem(30px);
        }

        @media (max-width: ($breakpoint - 1px)) {
            font-size: rem(18px);
            sub{
                font-size: rem(12px);
                margin-left: rem(-3px);
            }
        }
    }
    &__row{
        position: relative;
        &-main{
            margin-top: rem(120px);
            @media (max-width: ($breakpoint - 1px)) {
                margin-top: rem(70px);
            }
            @media (max-width: ($breakpoint-m - 1px) ){
                height: rem(572px);
                margin-top: rem(120px);
            }
        }
    }
    &__bg{
        width: calc(#{$col-part-d} * 12 - #{$col-gap-d});
        position: relative;

        @media (max-width: ($breakpoint - 1px)){
            width: calc(#{$col-part-m} * 4 - #{$col-gap-m});
        }
        @media (max-width: ($breakpoint-m - 1px) ) {
            display: none;
        }
    }
    &__bg-mob{
        display: none;
        @media (max-width: ($breakpoint-m - 1px)) {
            display: block;
            position: absolute;
            left: 0px;
            top: rem(100px);
            z-index: 1;
        }
    }
    &-img{
        
        
        &--circle{
            position: absolute;
            top: 0;
            top: 0px;
        }
    }
}