.sled{
    padding-top: rem(60px);
    height: auto;


    background: #F4F4F4;
    &__wrapper{

    }
    &__title{
        font-weight: 700;
        font-size: rem(46px);
        line-height: 120%;
        text-transform: uppercase;
        color: #181D1D;

        sub{
            font-size: rem(30px);
        }
    }
    &__row{
        position: relative;
    }
    &__bg{
        width: calc(#{$col-part-d} * 12 - #{$col-gap-d});
        position: relative;
    }
    &-img{

        
        &--circle{
            position: absolute;
            top: 0;
        }
    }
}