extends ../layouts/master


block content
    .container
        section.news
            
            a.news__button(href="#")
                .news__button-img
                    +card-arrow-svg.news-arrow-left
                .news__button-text
                    .news-back-link Ко всем новостям
            .news__wrapper(data-select-data=ddata)
                .counters-item 
                    .counters-item__title Children 6-16 years old
                    .counter.counters-item__counter 
                    button.button.counter__button(data-counter-left="3")
                        +mines-svg
                    .counter__number(data-number-container="3" data-number-invalid="none") 0
                    button.button.counter__button(data-counter-right="3")
                        +plus-count-svg
                .news-row.news__row
                    h1 АО «ОТЛК ЕРА» вошло в состав вновь созданного Сектора по развитию транспорта необщего пользования при РСПП
                .news-row.news__row-tags
                    .news-col.news__row-col
                        .news-tag.news-col__tag Отраслевые новости
                    .news-col
                        .news-date.news-col__date 25 ноября 2022
                .news-row.news-row--wrapper 
                    p Сектор по развитию транспорта необщего пользования создан в составе Подкомиссии по железнодорожному транспорту и железнодорожной инфраструктуре Комиссии по транспорту Российского союза промышленников и предпринимателей (РСПП).
                    p  «Основными задачами сектора являются работа по совершенствованию нормативно-технической базы, регулирующей деятельность железнодорожного транспорта необщего пользования, а также координация деятельности хозяйствующих субъектов в рамках компетенций Комиссии по транспорту РСПП, - пояснил Председатель подкомиссии по железнодорожному транспорту РСПП, генеральный директор АО «Институт экономики и развития транспорта» Федор Пехтерев. - В настоящий момент в России работают более 20 тысяч самостоятельных железнодорожных хозяйств промышленных предприятий и операторов подвижного состава. Данный сегмент российской экономики в настоящее время активно развивается. Вновь созданный сектор сможет эффективно представлять интересы частных компаний, работающих в железнодорожной сфере. До настоящего времени в РСПП подобной структуры не было».
                    p В состав сектора вошли представители железнодорожных операторов и компаний, владеющих инфраструктурой необщего пользования, а также саморегулируемых отраслевых организаций. Возглавил Совет член Правления РСПП президент Группы компаний «Новотранс» Константин Гончаров.
                    p «Создание новой структуры в рамках комиссии по транспорту РСПП связано с потребностью формирования комфортных условий для бизнеса в сфере железнодорожного транспорта», - отметил Константин Гончаров.
                    h2 АО «ОТЛК ЕРА» вошло в состав вновь созданного Сектора по развитию транспорта необщего пользования при РСПП
                    h3 АО «ОТЛК ЕРА» вошло в состав вновь созданного Сектора по развитию транспорта необщего пользования при РСПП
                    h4 АО «ОТЛК ЕРА» вошло в состав вновь созданного Сектора по развитию транспорта необщего пользования при РСПП
                    ul
                        li АО «ОТЛК ЕРА» вошло в состав вновь созданного Сектора по развитию транспорта необщего пользования при РСПП
                        li Положение о Совете директоров АО «ОТЛК ЕРА»
                        li Положение о порядке подготовки и проведения общего собрания акционеров
                        li Положение о корпоративном секретаре АО «ОТЛК ЕРА»
                    ol
                        li АО «ОТЛК ЕРА» вошло в состав вновь созданного Сектора по развитию транспорта необщего пользования при РСПП
                        li Положение о Совете директоров АО «ОТЛК ЕРА»
                        li Положение о порядке подготовки и проведения общего собрания акционеров
                        li Положение о корпоративном секретаре АО «ОТЛК ЕРА»
                    img(src="assets/images/train.png", alt="image")
                    img(src="assets/images/forest.png", alt="imgae")
                    p Положение о порядке подготовки и проведения общего собрания акционеров