extends ../layouts/master


block header

block content
  section.purchases 
    .container
      -
                var ddata = [
                    {
                        option: 'qwe',
                        items: ['qwe1', 'qwe2']
                    },
                    {
                        option: 'asd',
                        items: ['asd1', 'asd2']
                    },
                    {
                        option: 'zxc',
                        items: ['zxc1', 'zxc2']
                    },
                ]
      .select-block
        .select-wrapper 
          .select.select-option
              select.select__select(width='100%' data-select-placeholder='Выбрать' data-select-data=ddata)
                option(selected disabled) 
        .select-wrapper.select-wrapper__item.hidden
          .select.select-option
              select.select__select(width='100%' data-select-placeholder='Выбрать' data-select-item=ddata)
                option(selected disabled) 
      .select-clear 
        button.select-button__cleaer(data-select-clear="1") clear
      .title.purchases__title 
        h1 Закупки
      .purchases__container 
        .purchases__titles 
          .purchases__titles-item Номер закупки, статус
          
          .purchases__titles-item Тип и наименование
          
          .purchases__titles-item Прием заявок
        
        .purchases__wrapper.purchases__wrapper--desktop
          a.purchases__wrapper-item(href="#")
            .purchases__wrapper-col
              .purchases__inner
                .purchases__sub-col.purchases__sub-col--number
                  .purchases__inner-number 1
                  .purchases__inner-accept 
                    .purchases__inner-accept--icon
                      +accept-svg
                    .purchases__inner-acept--text Прием заявок
                    .tooltip.tooltip-svg(id='tooltip')
                      +tooltip-svg
                    span 
                      .tooltip__content(id="tippy1" style="display: none;") Это текст всплывающей подсказки
                .purchases__sub-col.purchases__sub-col--type
                  .purchases__inner-type Открытый конкурс в электронной форме № 14/ОКЭ-АО «ОТЛК ЕРА»/2021 на оказание консультационных услуг по разработке системы управления рисками АО «ОТЛК ЕРА» (СУР) 
                .purchases__sub-col.purchases__sub-col--acceptance 
                  .purchases__date.purchaces__date-left
                    .purchases__date-top 14.10.2022
                    .purchases__date-bot 03:00 Мск
                  .purchases__date.purchaces__date-mid
                    span -
                  .purchases__date.purchaces__date-right
                    .purchases__date-top 24.10.2022
                    .purchases__date-bot 12:00 Мск
                    
            .purchases__wrapper-col
              .slider-buttons__item.purchases__button
                +slider-arrow-svg.arrow-svg.arrow-svg--right.purchases-btn-svg
          a.purchases__wrapper-item(href="#")
            .purchases__wrapper-col
              .purchases__inner
                .purchases__sub-col.purchases__sub-col--number
                  .purchases__inner-number 2
                  .purchases__inner-accept 
                    .purchases__inner-accept--icon
                      +accept-svg
                    .purchases__inner-acept--text Прием заявок
                .purchases__sub-col.purchases__sub-col--type
                  .purchases__inner-type Открытый конкурс в электронной форме № 14/ОКЭ-АО «ОТЛК ЕРА»/2021 на оказание консультационных услуг по разработке системы управления рисками АО «ОТЛК ЕРА» (СУР) 
                .purchases__sub-col.purchases__sub-col--acceptance 
                  .purchases__date.purchaces__date-left
                    .purchases__date-top 14.10.2022
                    .purchases__date-bot 03:00 Мск
                  .purchases__date.purchaces__date-mid
                    span -
                  .purchases__date.purchaces__date-right
                    .purchases__date-top 24.10.2022
                    .purchases__date-bot 12:00 Мск
                    
            .purchases__wrapper-col
              .slider-buttons__item.purchases__button
                +slider-arrow-svg.arrow-svg.arrow-svg--right.purchases-btn-svg
          a.purchases__wrapper-item(href="#")
            .purchases__wrapper-col
              .purchases__inner
                .purchases__sub-col.purchases__sub-col--number
                  .purchases__inner-number 3
                  .purchases__inner-accept 
                    .purchases__inner-accept--icon
                      +accept-svg
                    .purchases__inner-acept--text Прием заявок
                .purchases__sub-col.purchases__sub-col--type
                  .purchases__inner-type Открытый конкурс в электронной форме № 14/ОКЭ-АО «ОТЛК ЕРА»/2021 на оказание консультационных услуг по разработке системы управления рисками АО «ОТЛК ЕРА» (СУР) 
                .purchases__sub-col.purchases__sub-col--acceptance 
                  .purchases__date.purchaces__date-left
                    .purchases__date-top 14.10.2022
                    .purchases__date-bot 03:00 Мск
                  .purchases__date.purchaces__date-mid
                    span -
                  .purchases__date.purchaces__date-right
                    .purchases__date-top 24.10.2022
                    .purchases__date-bot 12:00 Мск
                    
            .purchases__wrapper-col
              .slider-buttons__item.purchases__button
                +slider-arrow-svg.arrow-svg.arrow-svg--right.purchases-btn-svg
        //Mobile version
        .purchases__wrapper.purchases__wrapper--mobile
          .purchases__wrapper-item
            .purchases__wrapper-col
              .purchases__inner
                .purchases__titles-mobile Номер закупки, статус
                .purchases__sub-col.purchases__sub-col--number
                  .purchases__inner-number 1
                  .purchases__inner-accept 
                    .purchases__inner-accept--icon
                      +accept-svg
                    .purchases__inner-acept--text Прием заявок
                .purchases__sub-col.purchases__sub-col--type
                  .purchases__titles-mobile Тип и наименование
                  .purchases__inner-type Открытый конкурс в электронной форме № 14/ОКЭ-АО «ОТЛК ЕРА»/2021 на оказание консультационных услуг по разработке системы управления рисками АО «ОТЛК ЕРА» (СУР) 
                .purchases__titles-mobile Прием заявок 
                .purchases__sub-col.purchases__sub-col--acceptance 
                  .purchases__date.purchaces__date-left
                    .purchases__date-top 14.10.2022
                    .purchases__date-bot 03:00 Мск
                  .purchases__date.purchaces__date-mid
                    span -
                  .purchases__date.purchaces__date-right
                    .purchases__date-top 24.10.2022
                    .purchases__date-bot 12:00 Мск
                .purchases__date-send Заявок отправлено: 
                    span 23
            .purchases__wrapper-col.purchases__item-footer
              .purchases__button
                +card-arrow-svg
              .purchases__item-footer--text Подробнее
          .purchases__wrapper-item
            .purchases__wrapper-col
              .purchases__inner
                .purchases__titles-mobile Номер закупки, статус
                .purchases__sub-col.purchases__sub-col--number
                  .purchases__inner-number 2
                  .purchases__inner-accept 
                    .purchases__inner-accept--icon
                      +accept-svg
                    .purchases__inner-acept--text Прием заявок
                .purchases__sub-col.purchases__sub-col--type
                  .purchases__titles-mobile Тип и наименование
                  .purchases__inner-type Открытый конкурс в электронной форме № 14/ОКЭ-АО «ОТЛК ЕРА»/2021 на оказание консультационных услуг по разработке системы управления рисками АО «ОТЛК ЕРА» (СУР) 
                .purchases__titles-mobile Прием заявок 
                .purchases__sub-col.purchases__sub-col--acceptance 
                  .purchases__date.purchaces__date-left
                    .purchases__date-top 14.10.2022
                    .purchases__date-bot 03:00 Мск
                  .purchases__date.purchaces__date-mid
                    span -
                  .purchases__date.purchaces__date-right
                    .purchases__date-top 24.10.2022
                    .purchases__date-bot 12:00 Мск
                .purchases__date-send Заявок отправлено: 
                    span 23    
            .purchases__wrapper-col.purchases__item-footer
              .purchases__button
                +card-arrow-svg
              .purchases__item-footer--text Подробнее
          .purchases__wrapper-item
            .purchases__wrapper-col
              .purchases__inner
                .purchases__titles-mobile Номер закупки, статус
                .purchases__sub-col.purchases__sub-col--number
                  .purchases__inner-number 3
                  .purchases__inner-accept 
                    .purchases__inner-accept--icon
                      +accept-svg
                    .purchases__inner-acept--text Прием заявок
                .purchases__sub-col.purchases__sub-col--type
                  .purchases__titles-mobile Тип и наименование
                  .purchases__inner-type Открытый конкурс в электронной форме № 14/ОКЭ-АО «ОТЛК ЕРА»/2021 на оказание консультационных услуг по разработке системы управления рисками АО «ОТЛК ЕРА» (СУР) 
                .purchases__titles-mobile Прием заявок 
                .purchases__sub-col.purchases__sub-col--acceptance 
                  .purchases__date.purchaces__date-left
                    .purchases__date-top 14.10.2022
                    .purchases__date-bot 03:00 Мск
                  .purchases__date.purchaces__date-mid
                    span -
                  .purchases__date.purchaces__date-right
                    .purchases__date-top 24.10.2022
                    .purchases__date-bot 12:00 Мск
                .purchases__date-send Заявок отправлено: 
                    span 23    
            .purchases__wrapper-col.purchases__item-footer
              .purchases__button
                +card-arrow-svg
              .purchases__item-footer--text Подробнее
  +counters
  secction.filters 
    .container.container-filters
      .filters-content
        .filters__wrapper
          .filters__main(data-filter-first="1")
            .filters-text.filters__main-text Фильтр
            .filters-icon.filters__main-icon
              +plus-svg
        .filters-category
          .filters-back.filters-category__back(data-filter-first="1")
            .filters-back__icon
              +slider-arrow-svg.filters__blue-arrow
            .filters-back__text Назад
          .filters-item.filters-category__item(data-filter-category="1")
            .filters-item__inner
              .filters-text.filters-item__text Местоположение
              .filters-icon.filters-item__icon
                +slider-arrow-svg.filters__black-arrow
            
          .filters-item.filters-category__item(data-filter-category="2")
            .filters-item__inner
              .filters-text.filters-item__text Категория продукции
              .filters-icon.filters-item__icon
                +slider-arrow-svg.filters__black-arrow
            
          .filters-item.filters-category__item(data-filter-category="3")
            .filters-item__inner
              .filters-text.filters-item__text Тип объекта
              .filters-icon.filters-item__icon
                +slider-arrow-svg.filters__black-arrow
            
        .filters-checkboxes(data-filter-checkboxes="1")
              .filters-back.filters-category__back(data-filter-back="1")
                .filters-back__icon
                  +slider-arrow-svg.filters__blue-arrow
                .filters-back__text Местоположение
              .filters-checkboxes__item 
                label.form__checkbox
                  input.form__checkbox-input.form___input--checkbox(type="checkbox"  name="person" id="moscov")
                  .form__checkbox-box
                      +checkbox-mark
                  .form__checkbox-text moscov
              .filters-checkboxes__item 
                label.form__checkbox
                  input.form__checkbox-input.form___input--checkbox(type="checkbox"  name="person" id="piter")
                  .form__checkbox-box
                      +checkbox-mark
                  .form__checkbox-text piter
              .filters-checkboxes__item 
                label.form__checkbox
                  input.form__checkbox-input.form___input--checkbox(type="checkbox"  name="person" id="vlgograd")
                  .form__checkbox-box
                      +checkbox-mark
                  .form__checkbox-text vlgograd 
        .filters-checkboxes(data-filter-checkboxes="2")
              .filters-back.filters-category__back(data-filter-back="2")
                .filters-back__icon
                  +slider-arrow-svg.filters__blue-arrow
                .filters-back__text Категория продукции
              .filters-checkboxes__item 
                label.form__checkbox
                  input.form__checkbox-input.form___input--checkbox(type="checkbox"  name="person" id="ball")
                  .form__checkbox-box
                      +checkbox-mark
                  .form__checkbox-text ball 
              .filters-checkboxes__item 
                label.form__checkbox
                  input.form__checkbox-input.form___input--checkbox(type="checkbox"  name="person" id="swim")
                  .form__checkbox-box
                      +checkbox-mark
                  .form__checkbox-text swim 
              .filters-checkboxes__item 
                label.form__checkbox
                  input.form__checkbox-input.form___input--checkbox(type="checkbox"  name="person" id="ping")
                  .form__checkbox-box
                      +checkbox-mark
                  .form__checkbox-text ping 
        .filters-checkboxes(data-filter-checkboxes="3")
              .filters-back.filters-category__back(data-filter-back="3")
                .filters-back__icon
                  +slider-arrow-svg.filters__blue-arrow
                .filters-back__text Тип объекта
              .filters-checkboxes__item 
                label.form__checkbox
                  input.form__checkbox-input.form___input--checkbox(type="checkbox"  name="person" id="vodka")
                  .form__checkbox-box
                      +checkbox-mark
                  .form__checkbox-text vodka 
              .filters-checkboxes__item 
                label.form__checkbox
                  input.form__checkbox-input.form___input--checkbox(type="checkbox"  name="person" id="pivo")
                  .form__checkbox-box
                      +checkbox-mark
                  .form__checkbox-text pivo 
              .filters-checkboxes__item 
                label.form__checkbox
                  input.form__checkbox-input.form___input--checkbox(type="checkbox"  name="person" id="erch")
                  .form__checkbox-box
                      +checkbox-mark
                  .form__checkbox-text erch
        .button-confirm.filters__button-confirm
          .button-confirm__inner Complete
        .button-reset.filters__button-reset 
          .button-reset__wrapper Очистить
        .filters-confirm.filters__confirm 
          .filters-confirm__wrapper
  section.scrolling
    .container 
      .scrolling-wrapper 
        .scrolling__col
          .scrolling__sticky(data-scroll-offset="")
            ul.scrolling__list 
              li.scrolling__item 
                a.scrolling__link(href="#bue" data-scroll-color='blue') blue
              li.scrolling__item 
                a.scrolling__link(href="#rd" data-scroll-color='red') red
              li.scrolling__item 
                a.scrolling__link(href="#gren" data-scroll-color='green') green
              li.scrolling__item 
                a.scrolling__link(href="#blck" data-scroll-color='black') black
        .scrolling__col
          .scrolling-row.scrolling__col-blue(id="blue" data-scroll-row='blue')
          .scrolling-row.scrolling__col-red(id="red" data-scroll-row='red')
          .scrolling-row.scrolling__col-green(id="green" data-scroll-row='green')
          .scrolling-row.scrolling__col-black(id="black" data-scroll-row='black')

