.contact-page{
    
    &__card{
        padding-bottom: 100px;
        &-col{
            width: calc(#{$col-part-d}  * 3 - #{$col-gap-d});
        }
        &-row{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 1.25rem;
        }
        &-item{
            position: relative;
            z-index: 1;

            height: 435px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            border: 1px solid #E9E9E9;
            color: #181D1D;
            overflow: hidden;
            transition: .5s;

            @media (min-width: $breakpoint) {
                
            }
            @media (max-width: ($breakpoint - 1px)) {
                
            }

            &:hover{
                border-color: transparent;
                .card__animate{
                    transform: translateY(0%);
                    
                }
                .card__footer-date{
                    color: white;
                }
                .card__title{
                    color: white;
                    
                }
                .card__footer-btn{
                    svg{
                        rect{
                            fill: #006525;
                            
                        }
                        path{
                            stroke: white;
                        }
                    }
                }
                .card__footer-wrapper{
                    border-color: rgba(#FFFFFF, 0.2);
                }
            }
            &--top{
                z-index: 3;
                flex-shrink: 0;
                height: 322px;
                text-align: center;
                margin: 0 auto;
            }
            &--bot{
                z-index: 3;
                width: 100%;
            }
        }
        

        .card__news-item{
            font-weight: 700;
            font-size: 8px;
            line-height: 110%;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 20px;
            a{
                color: #FFFFFF;
                text-decoration: none;
            }
            
            &-link{
                padding: 8px 15px;
                background: #181D1D;
                border-radius: 50px;
            }
        }
        .card__title{
            font-weight: 700;
            font-size: 22px;
            line-height: 130%;
            height: 100%;
            flex-shrink: 0;
            display: flex;
            padding-top: 20px;
            transition: 0.5s;
        }
        .card__footer{
            &-btn{
                .button-arrow{
                    rect{
                        transition: 0.5s;

                    }
                    path{
                        transition: 0.5s;
                    }
                }
            }
            &-date{
                display: flex;
                gap: 8px;
                color: #006525;
                font-weight: 700;
                line-height: 110%;
                letter-spacing: -0.01em;
                text-transform: uppercase;
                z-index: 3;
                transition: 0.5s;
                &--num{
                    font-size: 44px;
                    line-height: 44px;
                }
                &--text{
                    font-size: 10px;
                    align-items: start;
                }
                &--text-2{
                    font-size: 10px;
                }
            }
            &-wrapper{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                border-top: 1px solid #E9E9E9;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 17px;
                padding-bottom: 10px;
                transition: 0.5s;
            }
        }
    }

    &__file{
        margin-top: rem(200px);
        &-row{
            &--top{
                display: flex;
                justify-content: space-between;
            }
            &-text{
                font-weight: 500;
                font-size: rem(16px);
                line-height: 130%;
                color: #181D1D;
                transition: 0.5s;
                z-index: 3;
                position: relative;
            }
        }
        &-wrapper{
            
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(2, 1fr);
            gap: calc(#{$col-gap-d});

            width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
            flex-shrink: 0;

            &-protocol{
                display: none;
            }
            &.not-visible{
                display: none;
            }
            &.visible{
                display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(2, 1fr);
            gap: calc(#{$col-gap-d});

            width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
            flex-shrink: 0;
            }
        }
        &-inner{
            width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
            &:hover{
                .contact-page__file-inner--container--animate{
                    transform: translateY(0%);
                }
                .contact-page__file-card--picture{
                    z-index: 3;
                    path{
                        stroke: #E3E3E3;
                    }
                        
                    
                }
                .contact-page__file-card--svg-text{
                    color: #FFFFFF;
                }
                .contact-page__file-card--top-text{
                    color: #FFFFFF;
                    z-index: 3;
                }
                .contact-page__file-row-text{
                    color: #FFFFFF;
                    z-index: 3;
                }
            }
            &--container{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;
                padding: rem(24px);

                height: 180px;

                border: 1px solid #E3E3E3;
                overflow: hidden;
                &--animate{
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;

                    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
                    height: 180px;

                    flex-shrink: 0;
                    background: #006525;
                    transform: translateY(100%);
                    transition: 0.5s;
                    svg{
                        position: absolute;
                        top: 1.5rem;
                        width: 8.1875rem;
                        height: 13.9375rem;
                    }
                }
            }
            
        }
        &-card{
            position: relative;
            &--top-text{
                z-index: 3;
                transition: 0.5s;
                font-weight: 700;
                color: #181D1D;
                font-size: rem(10px);
                line-height: 120%;
            }
            &--picture{
                path{
                    transition: 0.5s;
                }
                
            }
            &--svg{
                width: rem(36px);
                height: rem(45px);
                &-text{
                    position: absolute;
                    top: rem(7px);
                    left: 50%;
                    transform: translateX(-50%);
                    
                    font-weight: 600;
                    font-size: rem(12px);
                    line-height: 130%;
                    text-align: center;
                    color: #006525;
                    transition: 0.5s;
                }
            }
        }
        .file-card__buttons{
            display: flex;
            gap: rem(8px);
            margin-bottom: rem(32px);

            &-item{
                padding: rem(15px) rem(25px);

                font-weight: 700;
                font-size:rem(16px);
                line-height: 110%;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                color: #181D1D;
                background: rgba(0, 0, 0, 0.06);
                border-radius: rem(58px);
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    background: #006525;
                    color: #FFFFFF;
                }
                &.active{
                    background: #006525;
                    color: #FFFFFF;
                }
            }
        }
    }

    &__modal{
        margin-bottom: rem(200px);
        &-wrapper{
            position: relative;
        }
        &--close-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: rem(-64px);

            width: rem(64px);
            height: rem(64px);

            background-color: #181D1D;
            cursor: pointer;
        }
        &-wrapper{
            width: calc(#{$col-part-d} * 4);

            
        }
        &-title{
            padding-top: 48px;

            font-weight: 700;
            font-size: 28px;
            line-height: 120%;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #181D1D;
        }
        &-form{
            margin-top: 32px;

            width: calc(#{$col-part-d} * 4 - #{$col-gap-d} - 60px);
        }
        
    }
    &__accord{
        margin-top: rem(200px);
        margin-bottom: 200px;
    }
    &-modal__row{
        display: none;
        width: calc(#{$col-part-d} * 4 - #{$col-gap-d} - 60px);
        
        .form-button{
            margin-top: rem(32px);
        }
    }
    
}



.contact-page__row--form{
    &.none-visible{
        display: none;
    }
}
.contact-page__row--submit{
    &.visible{
        display: block;
    }
}


.card__animate{
    background: #006525;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: translateY(100%);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    svg{
        width: 165px;
    }
}