.news{
    $comp: &;

    display: flex;
    
    color: #181D1D;
    &__row-tags{
        display: flex;
        align-items: center;
        margin-top: rem(32px);
        gap: rem(10px);
        margin-bottom: rem(60px);
    }
    &-col{
        &__tag{
            font-weight: 700;
            font-size: rem(10px);
            line-height: 110%;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: rem(8px) rem(15px);
            background: #181D1D;
            border-radius: rem(50px);
        }
        &__date{
            font-weight: 700;
            font-size: rem(10px);
            line-height: 110%;
            letter-spacing: -0.01em;
            text-transform: uppercase;
            color: #181D1D;
        }
    }
    &__button{
        display: inline-flex;
        align-items: center;

        width: calc(#{$col-part-d} * 3);

        text-decoration: none;
        height: rem(28px);
        &-img{
            .news-arrow-left{
                rotate: (180deg);

                rect{
                    fill: #006525;
                }
                path{
                    stroke: white;
                }
            }
        }
        &-text{
            margin-left: rem(16px);

            font-weight: 500;
            font-size: rem(16px);
            line-height: 130%;
            color: #181D1D;
        }
    }

    &__wrapper{
        width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    }
    p{
        margin-bottom: rem(20px);

        font-weight: 500;
        font-size: rem(18px);
        line-height: 160%;
        color: #181D1D;
    }
    h1{
        font-weight: 700;
        font-size: rem(40px);
        line-height: 130%;
        letter-spacing: -0.02em;
    }
    h2{
        margin-bottom: rem(32px);

        font-weight: 700;
        font-size: 32px;
        line-height: 130%;
        letter-spacing: -0.02em;
        
    }
    h3{
        margin-bottom: rem(32px);

        font-weight: 700;
        font-size: rem(24px);
        line-height: 160%;
        letter-spacing: -0.02em;
        
    }
    h4{
        margin-bottom: rem(32px);

        font-weight: 700;
        font-size: rem(20px);
        line-height: 160%;
        letter-spacing: -0.02em;
    }
    ul{
        margin-bottom: rem(60px);
        li{
            position: relative;
            padding-left: rem(52px);
            margin-bottom: rem(16px);

            font-weight: 500;
            font-size: rem(16px);
            line-height: 160%;
            &::before{
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                padding-top: rem(10px);

                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M3 9L8 14L17 5' stroke='%23006525' stroke-width='1.5'/%3E%3C/svg%3E");
                width: rem(20px);
                height: rem(20px);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
    ol{
        li{
            position: relative;
            padding-left: rem(52px);

            counter-reset: unset;
            counter-increment: index;
            margin-bottom: rem(16px);

            font-weight: 500;
            font-size: rem(16px);
            line-height: 160%;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                

                width: rem(20px);
                height: rem(20px);

                content: counter(index);
                font-weight: 700;
                font-size: rem(16px);
                line-height: 160%;
                color: #006525;
            }
        }
    }
    img{
        width: 100%;
        margin-top: 60px;
    }
}