mixin counters 
  section.counters 
    .container 
      .counters-wrapper.counters__wrapper 
        .counters-row.counters__row
          .counters-item 
            .counters-item__title Adults
            .counter.counters-item__counter 
              .button.counter__button(data-counter-left="1")
                +mines-svg
              .counter__number 
              .button.counter__button(data-counter-right="1")
                +plus-count-svg
          .counters-item 
            .counters-item__title Students with ISIC
            .counter.counters-item__counter 
              .button.counter__button(data-counter-left="1")
                +mines-svg
              .counter__number 
              .button.counter__button(data-counter-right="1")
                +plus-count-svg
          .counters-item 
            .counters-item__title Children 6-16 years old
            .counter.counters-item__counter 
              .button.counter__button(data-counter-left="1")
                +mines-svg
              .counter__number 
              .button.counter__button(data-counter-right="1")
                +plus-count-svg
          .counters-item 
            .counters-item__title Children 0-6 years old
            .counter.counters-item__counter 
              .button.counter__button(data-counter-left="1")
                +mines-svg
              .counter__number 
              .button.counter__button(data-counter-right="1")
                +plus-count-svg
          .counters-item 
            .counters-item__title Among them wheelchair users
            .counter.counters-item__counter 
              .button.counter__button(data-counter-left="1")
                +mines-svg
              .counter__number 
              .button.counter__button(data-counter-right="1")
                +plus-count-svg
            
