mixin ecology 
  section.ecology 
    .container.ecology__container 
      .ecology__header 
        h2 Перевозки по железной дороге экологичнее
      .ecology__wrapper 
        .ecology__list
        
          .ecology__item
            .ecology__item-inner 
              .ecology__icon
                +boat-svg.ecology__icon-svg--boat
              .ecology__number в 1,5-2
              .ecology__text.small раза
              .ecology__text чем морские перевозки
          .ecology__item
            .ecology__item-inner 
              .ecology__icon
                +trailer-svg.ecology__icon-svg--trailer
              .ecology__number в 5-6
              .ecology__text.small  раз
              .ecology__text чем автомобильные перевозки
          .ecology__item
            .ecology__item-inner 
              .ecology__icon
                +plane-svg.ecology__icon-svg--plane
              .ecology__number в 25-30
              .ecology__text.small раз
              .ecology__text чем авиа перевозки