mixin file-card 
    .container 
        section.contact-page__file
            .contact-page__file-wrapper
                - for (i = 0; i < 6; i++)
                    .contact-page__file-inner
                        .contact-page__file-inner--container
                            .contact-page__file-row.contact-page__file-row--top 
                                .picture.contact-page__file-card.contact-page__file-card--picture
                                    +file-card-svg.contact-page__file-card--svg
                                    .contact-page__file-card--svg-text PDF
                                .contact-page__file-card.contact-page__file-card--top-text 234kb
                            .contact-page__file-row
                                .contact-page__file-row-text 
                                    |Изменения в Положение о Комитете по аудиту <br> (СД № 25 от 10.06.20)
                            .contact-page__file-inner--container--animate
                                +card-animate-logo-svg
        section.contact-page__accord 
            .accord.accord-wrapper
                .accord__item(data-accordion='')
                    .accord__row.accord__row--top(data-accordion-button='')
                        .accord__row-title Какой из фильмов, которые вы просмотрели за последнее время, заставил вас плакать? А громко смеяться? <br>Если бы у вас была возможность полететь куда-либо абсолютно бесплатно, куда бы вы отправились?
                        .accord__row-button
                            +arrow-top-svg.accord__row-button-svg
                    .accord__row.accord__row--main(data-accordion-dropdown='')
                        .accord__row-text 
                            p Оплата производится Покупателем при условии получения от Поставщика надлежащим образом оформленного на имя Покупателя счета на оплату. Покупатель производит оплату в размере 100%, от стоимости Товара оплачивается Покупателем в течение 30 (тридцати) банковских дней с момента получения Товара Покупателем и подписания Сторонами Акта приема-передачи Товара или иного документа, подтверждающего приемку Товара.
                        .accord__row-date
                            .accord__row-col
                                .accord__row-text--grey дата вопроса
                                .accord__row-text-small 8.05.2022 • 7:38
                            .accord__row-col
                                .accord__row-text--grey дата ответа
                                .accord__row-text-small 10.05.2022 • 16:30
                .accord__item
                    .accord__row.accord__row--top 
                        .accord__row-title Какой из фильмов, которые вы просмотрели за последнее время, заставил вас плакать? А громко смеяться? <br>Если бы у вас была возможность полететь куда-либо абсолютно бесплатно, куда бы вы отправились?
                        .accord__row-button
                            +arrow-top-svg.accord__row-button-svg
                    .accord__row.accord__row--main
                        .accord__row-text 
                            p Оплата производится Покупателем при условии получения от Поставщика надлежащим образом оформленного на имя Покупателя счета на оплату. Покупатель производит оплату в размере 100%, от стоимости Товара оплачивается Покупателем в течение 30 (тридцати) банковских дней с момента получения Товара Покупателем и подписания Сторонами Акта приема-передачи Товара или иного документа, подтверждающего приемку Товара.
                        .accord__row-date
                            .accord__row-col
                                .accord__row-text--grey дата вопроса
                                .accord__row-text-small 8.05.2022 • 7:38
                            .accord__row-col
                                .accord__row-text--grey дата ответа
                                .accord__row-text-small 10.05.2022 • 16:30
                .accord__item
                    .accord__row.accord__row--top 
                        .accord__row-title Какой из фильмов, которые вы просмотрели за последнее время, заставил вас плакать? А громко смеяться? <br>Если бы у вас была возможность полететь куда-либо абсолютно бесплатно, куда бы вы отправились?
                        .accord__row-button
                            +arrow-top-svg.accord__row-button-svg
                    .accord__row.accord__row--main
                        .accord__row-text 
                            p Оплата производится Покупателем при условии получения от Поставщика надлежащим образом оформленного на имя Покупателя счета на оплату. Покупатель производит оплату в размере 100%, от стоимости Товара оплачивается Покупателем в течение 30 (тридцати) банковских дней с момента получения Товара Покупателем и подписания Сторонами Акта приема-передачи Товара или иного документа, подтверждающего приемку Товара.
                        .accord__row-date
                            .accord__row-col
                                .accord__row-text--grey дата вопроса
                                .accord__row-text-small 8.05.2022 • 7:38
                            .accord__row-col
                                .accord__row-text--grey дата ответа
                                .accord__row-text-small 10.05.2022 • 16:30

