mixin order-form
  section.order-form 
    .container 
      .order-form__wrapper 
        .order-form__col 
          .order-form__heading Заявка <br> на участие
          .order-dates.order-form--dates
            .order-dates__top
              .order-dates__text Дата отклика на процедуру
              .order-dates__date 14.01.2023
            .order-dates__bot
              .order-dates__text Дата последнего изменения заявки
              .order-dates__date 16.01.2023
          .order-buttons.order-form--buttons 
            .order-buttons__item 
              .order-buttons__icon 
              .order-buttons__text Редактировать заявку
            .order-buttons__item 
              .order-buttons__icon 
              .order-buttons__text Отменить заявку
        .order-form__col
          .order-table.order-form__table
            .order-table__row 
              .order-table__col.order-table--left
              .order-table__col.order-table--right
            .order-table__row 
              .order-table__col.order-table--left
              .order-table__col.order-table--right
            .order-table__row 
              .order-table__col.order-table--left
              .order-table__col.order-table--right
            .order-table__row 
              .order-table__col.order-table--left
              .order-table__col.order-table--right
            .order-table__row 
              .order-table__col.order-table--left
              .order-table__col.order-table--right
            .order-table__row 
              .order-table__col.order-table--left
              .order-table__col.order-table--right
            .order-table__row 
              .order-table__col.order-table--left
              .order-table__col.order-table--right
