mixin pag-slider    
    section.pag-slider 
        .container 
            .pag-slider__wrapper 
                .pag-slider__item.pag-slide
                    .pag-slide__row
                        .pag-slide__col.pag-slide__col--img
                            .swiper.swiper-pag(data-slider="2" data-buttons-id='2')
                                .pag-slide__col.swiper-wrapper.swiper-wrapper--pag 
                                    .pag-slide__img.swiper-slide
                                        +picture(src = 'speed')
                                    .pag-slide__img.swiper-slide
                                        +picture(src = 'speed')
                                    .pag-slide__img.swiper-slide
                                        +picture(src = 'speed')
                        .pag-slide__col.pag-slide__col--main
                            .swiper.swiper-pag-text(data-slider="text" data-buttons-id='2')
                                .swiper-wrapper.swiper-wrapper-text
                                    .pag-slide__text.swiper-slide
                                        .pag-slide__text-title 
                                            span.swiper--title скорость
                                        .pag-slide__text-subtitle  5-7 дней от границы КНР до границы Европы. <br> В 3-5 раз быстрее доставки по морю.
                                    .pag-slide__text.swiper-slide
                                        .pag-slide__text-title 
                                            span.swiper--title скорость
                                        .pag-slide__text-subtitle  5-7 дней от границы КНР до границы Европы. <br> В 3-5 раз быстрее доставки по морю.
                                    .pag-slide__text.swiper-slide
                                        .pag-slide__text-title 
                                            span.swiper--title скорость
                                        .pag-slide__text-subtitle  5-7 дней от границы КНР до границы Европы. <br> В 3-5 раз быстрее доставки по морю.
                            .slider-buttons.slider-buttons--big.slider__buttons-arrow.slider__buttons-arrow--pag
                                .slider-buttons__col.slider-buttons__col--arrows
                                    .slider-buttons__item.left-slide-pag(data-slider-left="2")
                                        +slider-arrow-svg.arrow-svg.arrow-svg--left
                                    .slider-buttons__item.right-slide-pag(data-slider-right="2") 
                                        +slider-arrow-svg.arrow-svg.arrow-svg--right  
                                .slider-buttons__col.slider-buttons__col--bullet
                                    .swiper-pagination.swiper-pagination--custom 
                                        .swiper-pagination-bullet.swiper-pagination-bullet-active
                                        .swiper-pagination-bullet
                                        .swiper-pagination-bullet
                            