mixin sled 
    section.sled 
        .container 
            .sled__wrapper 
                .sled__row 
                    .title.sled__title Углеродный след CO2 за 2022 год
                .sled__row 
                    .sled__bg 
                        .sled-img.sled-img--tree
                            +picture(src = 'tree')
                        .sled-img.sled-img--circle
                            +picture(src = 'circle')
                        