mixin sled 
    section.sled 
        .container 
            .sled__wrapper 
                .sled__row 
                    .title.sled__title Углеродный след CO <sub> 2 </sub>  за 2022 год
                .sled__row.sled__row-main
                    .sled__bg 
                        .sled-img.sled-img--tree
                            +picture(src = 'tree')
                        .sled-img.sled-img--circle
                            +picture(src = 'circle')
                    .transportation.transportation--absolute.train
                        .transportation-img
                            +train-svg.train
                        .transportation-text 
                            .transportation-title Железнодорожные перевозки
                            .transportation-number 33 400
                            .transportation-subtext тонн
                    .transportation.transportation--absolute.boat
                        .transportation-img
                            +boat-svg.boat
                        .transportation-text 
                            .transportation-title Морские перевозки
                            .transportation-number 159 400
                            .transportation-subtext тонн
                    .transportation.transportation--absolute.trailer
                        .transportation-img
                            +trailer-svg.trailer
                        .transportation-text 
                            .transportation-title автомобильные перевозки
                            .transportation-number 2 970 600
                            .transportation-subtext тонн
                    .transportation.transportation--absolute.plane
                        .transportation-img
                            +plane-svg.plane
                        .transportation-text 
                            .transportation-title авиа перевозки
                            .transportation-number 17 622 300
                            .transportation-subtext тонн
        .sled__bg-mob 
            .sled-img.sled-img--tree
                +picture(src = 'tree-mobile')
    section.category.section-category 
        .container
            .category__header Основные категории перевозимых грузов
            .category__wrapper 
                .category__list 
                    .category__item 
                        .category__item-top
                            .category__num 01
                        .category__item-mid
                            .category__img
                                +dvigatel-svg
                        .category__item-bot
                            .category__text Автотехника и запчасти
                    .category__item 
                        .category__item-top
                            .category__num 01
                        .category__item-mid
                            .category__img
                                +dvigatel-svg
                        .category__item-bot
                            .category__text Автотехника и запчасти
                    .category__item 
                        .category__item-top
                            .category__num 01
                        .category__item-mid
                            .category__img
                                +dvigatel-svg
                        .category__item-bot
                            .category__text Автотехника и запчасти
                    .category__item 
                        .category__item-top
                            .category__num 01
                        .category__item-mid
                            .category__img
                                +dvigatel-svg
                        .category__item-bot
                            .category__text Автотехника и запчасти
                    .category__item 
                        .category__item-top
                            .category__num 01
                        .category__item-mid
                            .category__img
                                +dvigatel-svg
                        .category__item-bot
                            .category__text Автотехника и запчасти
                    .category__item 
                        .category__item-top
                            .category__num 01
                        .category__item-mid
                            .category__img
                                +dvigatel-svg
                        .category__item-bot
                            .category__text Автотехника и запчасти
                    .category__item 
                        .category__item-top
                            .category__num 01
                        .category__item-mid
                            .category__img
                                +dvigatel-svg
                        .category__item-bot
                            .category__text Автотехника и запчасти
                    .category__item 
                        .category__item-top
                            .category__num 01
                        .category__item-mid
                            .category__img
                                +dvigatel-svg
                        .category__item-bot
                            .category__text Автотехника и запчасти