mixin slider 
    .container 
        section.slider.slider-history
            .title.slider__title Наша история
            .slider__wrapper
                .slider__wrapper-col
                    .slider__buttons.slider-row.swiper.swiper-thumbs(data-thumbs='1')
                        .buttons-date.slider__buttons-date.swiper-wrapper
                            .button.buttons-date__item.swiper-slide 2015
                            .button.buttons-date__item.swiper-slide 2016
                            .button.buttons-date__item.swiper-slide 2017
                            .button.buttons-date__item.swiper-slide 2018
                            .button.buttons-date__item.swiper-slide 2019
                            .button.buttons-date__item.swiper-slide 2020
                            .button.buttons-date__item.swiper-slide 2021
                            .button.buttons-date__item.swiper-slide 2022
                    .slider-buttons.slider__buttons-arrow
                        .slider-buttons__item.left-slide(data-slider-left="1")
                            +slider-arrow-svg.arrow-svg.arrow-svg--left
                        .slider-buttons__item.right-slide(data-slider-right="1")
                            +slider-arrow-svg.arrow-svg.arrow-svg--right
                .swiper.slider__wrapper--history(data-slider="1" data-slider-thumbs='' data-buttons-id="1")
                    .swiper-wrapper
                        .slider-row.slide.swiper-slide
                            .slide__content
                                .slide__content-img
                                    +picture(src = 'train')
                                .slide__content-text
                                    .slide__title 2015
                                    .slide__text 
                                        p Период активной деятельности нашего совместного предприятия как отдельной и независимой бизнес-единицы на рынке перевозок контейнеров начался в 2016 году. Это был год, когда акционерами Компании были согласованы и утверждены ключевые  принципы и стратегические направления развития. Несмотря на сложный период  становления базовых регламентов деятельности, нам удалось уже в первый год удвоить объём перевозок по сравнению с 2015 годом и нарастить хорошую клиентскую базу для последующих периодов.
                        .slider-row.slide.swiper-slide
                            .slide__content
                                .slide__content-img
                                    +picture(src = 'train')
                                .slide__content-text
                                    .slide__title 2016
                                    .slide__text 
                        .slider-row.slide.swiper-slide
                            .slide__content
                                .slide__content-img
                                    +picture(src = 'train')
                                .slide__content-text
                                    .slide__title 2017
                                    .slide__text 
                        .slider-row.slide.swiper-slide
                            .slide__content
                                .slide__content-img
                                    +picture(src = 'train')
                                .slide__content-text
                                    .slide__title 2018
                                    .slide__text 
                        .slider-row.slide.swiper-slide
                            .slide__content
                                .slide__content-img
                                    +picture(src = 'train')
                                .slide__content-text
                                    .slide__title 2019
                                    .slide__text 
                        .slider-row.slide.swiper-slide
                            .slide__content
                                .slide__content-img
                                    +picture(src = 'train')
                                .slide__content-text
                                    .slide__title 2020
                                    .slide__text 
                        .slider-row.slide.swiper-slide
                            .slide__content
                                .slide__content-img
                                    +picture(src = 'train')
                                .slide__content-text
                                    .slide__title 2021
                                    .slide__text 
                        .slider-row.slide.swiper-slide
                            .slide__content
                                .slide__content-img
                                    +picture(src = 'train')
                                .slide__content-text
                                    .slide__title 2022
                                    .slide__text 
        